# App Config
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

# IA (será adicionada depois)
# OPENAI_API_KEY=sua_chave_aqui

# Supabase (banco de dados em nuvem)
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...
